body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

.cal-box{
    width: 400px;
    height: 525px;
    border: 1px solid black;
    border-radius: 28px;
    box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.35) ;
    background-color: whitesmoke;

}

.inp{
    width: 350px;
    height: 70px;
    margin: 20px;
    margin-top: 35px;
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    padding-right: 5px;
    background-color: #DCE9DC;
}

.butt{
    margin: 10px;
    
}

.butt button{
    width: 75px;
    height: 50px;
    margin: 5px;
    border-radius: 8px;
    font-size: 23px;
    margin-left: 7px;
    box-shadow: 4px 4px 4px grey;
}

.cal-box p{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

button:hover{
     box-shadow: 0px 0px 0px grey;
}

.inp::placeholder{
    color: black;
}

/* Responsive for tablets */
@media (max-width: 768px) {
    .cal-box {
        width: 90%;
        height: auto;
    }

    .inp {
        width: 90%;
        height: 60px;
        font-size: 25px;
        margin: 28px;
        margin-top: 30px;
    }

    .butt button {
        width: 120px;
        height: 50px;
        font-size: 20px;
        margin-left: 24px;
    }
}


@media (max-width: 480px) {
    .butt {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .inp {
        width: 90%;
        height: 50px;
        font-size: 22px;
        margin: 10px;
        margin-top: 20px;
    }

    .butt button {
        flex: 1 1 22%;  
        margin-left: 3px;
        margin-bottom: 5px;
    }

    .butt:last-child button:first-child {
        flex: 2 1 46%;    
    }
}





